<!-- here you should see all your  journal entries -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/satyastyle.css">



    <style></style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>

    <link rel="stylesheet" href="../css/entryindex.css">


    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
    <!-- this is where the border is styled -->

    <link rel="stylesheet" href="/css/nav.css">


    <script src="../JS/slickfile.js" defer></script>

</head>
<body>
    <%- include('../../partials/navbar.ejs') %>

    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slick">
                    <% for (let i = 0; i < allEntry.length; i++) { %>
                    <div class="item">
                        <div class="bg" style="background-image:url(/img/Foliage-Grainy-Gradient-08.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
                            <a href="/entry/<%= allEntry[i]._id %>">
                                <p class="entry-title"><%= allEntry[i].title %></p>
                            </a>
                            <a href="/entry/<%= allEntry[i]._id %>">
                                <p class="entry-content"><%= allEntry[i].content %></p>
                            </a>

                            <button class="edit-btn">
                                <a href = "/entry/<%= allEntry[i]._id %>/edit"><img id="edit_icon" src="/img/draw2.png" height="40px"></a>
                            </button>
                            <br>
                            <form class="trash-btn" action = "/entry/<%= allEntry[i]._id %>?_method=DELETE" method = "POST">
                                <input type = "submit" value = "Delete Entry">
                            </form>
                        </div>

                    </div>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>
<center>
    <button class="new" href="/entry/new"><a href="/entry/new">new entry</a></button>



    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../slick/slick.min.js"></script>

</body>
</html>