<!-- here you should see a single journal entry -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/entryshow.css">
    
    <title>journ.ey</title>
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <header>
        <% const options1 = { year: 'numeric', month: 'long', day: 'numeric' } %>
        <% const date1 = singleEntry.date %>
        <% const dateTimeFormat3 = new Intl.DateTimeFormat('en-US', options1) %>
        
        <h1><%= singleEntry.title %> </h1>
        <h3><%= dateTimeFormat3.format(date1) %></h3>
    </header>
    <section>
        <div class = "content">
            <p class = "words"><%- singleEntry.content %></p>
            <div class = "button">
                <button>
                    <a href = "/entry/<%= singleEntry._id %>/edit">Update Entry</a>
                </button>
            </div>
        </div>
        <form class="trash-btn" action = "/entry/<%= singleEntry._id %>?_method=DELETE" method = "POST">
            <input class="trash-btn" type = image src="/img/trash.png">
        </form>
    </section>
</body>
</html>