<!-- here you should see a single journal entry -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Journal Show</h1>
    <p>The date is <%= singleEntry.date %>.</p>
    <p>The author is <%= singleEntry.user %> </p>
    <p>The title is <%= singleEntry.title %> </p>
    <p>The body is <%= singleEntry.content %> </p>
    <img src="<%=singleEntry.image%>">
</body>
</html>