<!-- here you should be able to edit a prepopulated form for your journal entry -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav.css">

</head>
<body>
    <%- include('../../partials/navbar.ejs') %>

    <h1>Journal Edit</h1>
    <p>This form edits your data</p>
    <form method="POST" action="/entry/<%= oneEntry._id %>?_method=PUT">
        <label for="date">date</label>
        <input type="date" name="date" id="date" value="<%= oneEntry.date %>"/>
        <br>
        <label for="user">user</label>
        <input type="text" name="user" id="user" value="<%= oneEntry.user %>"/>
        <br>
        <label for="title">title</label>
        <input type="text" name="title" id="title" value="<%= oneEntry.title %>"/>
        <br>
        <label for="content">content</label>
        <input type="text" name="content" id="content" value="<%= oneEntry.content %>"/>
        <br>
        <label for="image">image</label>
        <input type="text" name="image" id="image" value="<%= oneEntry.image %>"/>
        <br>
        <input type = "submit" value ="Update Entry"/>
    </form>
</body>
</html>