<!-- here you should see a single journal entry -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/entryshow.css">


    <title>Journal Entry</title>
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <header>
        <div>
        </div>
        <h6><%= singleEntry.date %></h6>
        <h1><%= singleEntry.title %> </h1>
    </header>
    <section>
        <div class = "content">
            <p class = "words"><%- singleEntry.content %></p>
            <div class = "button">
                <button>
                    <a href = "/entry/<%= singleEntry._id %>/edit">Update Entry</a>
                </button>
            </div>
            <form class="trash-btn" action = "/entry/<%= singleEntry._id %>?_method=DELETE" method = "POST">
                <input class="trash-btn" type = image src="/img/trash.png">
            </form>

        </div>
    </section>
</body>
</html>