<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Your Profile</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/profileedit.css">
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div id= "content-wrapper">
        <header id = "profile-greeting">
            <h1><%=singleUser.firstName%> <%=singleUser.lastName%>,<br> let's update your profile</h1>
        </header>
        <form method="POST" action="/user/<%= singleUser._id %>?_method=PUT">
            <label for= "userName">Username: </label>
            <br>
            <input type = "text" id="userName" name="userName" value = "<%= singleUser.userName %>" />
            <br>
            <label for = "firstName">First Name: </label>
            <br>
            <input type = "text" id = "firstName" name = "firstName" value = "<%= singleUser.firstName %>" /> 
            <br>
            <label for = "lastName">Last Name: </label>
            <br>
            <input type = "text" id = "lastname" name = "lastName" value = "<%= singleUser.lastName %>"/>
            <br>
            <label for = "password"> Password: </label>
            <br>
            <input type = "text" id = "password" name = "password" value = "<%= singleUser.password %>"/>
            <!-- <br> -->
            <!-- <label for = "theme"> Chose a Theme: </label>
            <input type ="number" id = "theme" name = "theme" value = "<%= singleUser.theme %>"/> -->
            <br>
            <label for = "avatarImage"> Change Your Avatar Image: </label>
            <br>
            <input type = "text" id = "avatar" name = "avatarImage" value = "<%= singleUser.avatarImage %>"/>
            <br>
            <input type = "submit" value = "Save Changes"/>
        </form>
    </div>
</body>
</html>